
.breadcrumb-wrapper {
	margin-bottom: map-get($spacers, 5);
	@include media-breakpoint-up(lg) { border-style: solid; border-color: $gray-medium; border-width: $border-width 0;}
}

.breadcrumb { @include font-size($font-size-base * (13 / $font-size-base));
	a { text-decoration: none; }
}

.breadcrumb-item {
	&.active { font-weight: $font-weight-bold; }
	&.first {
		&::before {display: none;}
	}
}

.breadcrumb-arrow {
	&::before {
		@include fas('f104');
		margin-right: 6px;
	}
}

.breadcrumb-back { padding-right: map-get($spacers, 3); margin-right: map-get($spacers, 3); border-right: $border-width solid $gray-medium; }
